

.theme{
    transition: 1s;
    background-color: rgba(0, 110, 255, 0.7);
    padding: 5px;
    border: 4mm, solid, black;
    text-align: center;
    width: 30rem;
    min-height: auto;
    color: black;
    text-decoration-line: overline;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 8px 8px -2px rgba(0,0,0,0.4);
    position: relative;
    margin: 10mm auto;
}
.theme:hover{
    transition: 1s;
    transform: scale(1.05) ;
    background-color: greenyellow;
    opacity: 1;
}
.card{
    width: 50rem;
    height: 30rem;
    display: flexbox;
    background-color: cyan;
    text-align: center;
    margin: auto;
    margin-top: 5cm;
    border-radius: 20px;
    border: 10px, solid, black;
    padding: 10px;
    opacity: 0.75;
}

.voprText{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
    color: black;
    background: linear-gradient(rgb(200, 255, 0) 20px, rgb(255, 251, 0) 40px);
    margin-bottom: 40px;

}

.otvet{
    transition: 1s;
    background-color: rgba(0, 217, 255, 0.7);
    padding: 5px;
    margin-top: 5pt;
    border: 4mm, solid, black;
    text-align: center;
    width: 30rem;
    min-height: 2cm;
    color: black;
    text-decoration-line: overline;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 8px 8px -2px rgba(0,0,0,0.4);
}
.otvet:hover{
    transition: 1s;
    transform: scale(1.05) ;
}

.start{
    transition: 1s;
    width: 7cm;
    height: 2cm;
    margin-top: 5cm;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    background-color: aquamarine;

}
.start:hover{
    transition: 1s;
    transform: scale(1.05);
}

body{
    background: url("i.webp") center no-repeat;
    background-size: 100% ;
    color: rgb(252, 252, 252);
    text-align: center;
    margin: 10px;
}
aside{
    color: rgb(228, 137, 0);
    width: 75mm;
    float: left;
}

#footer{
    margin-top: 20px;
    background-color: darkgoldenrod;
    
}
